#p {
	font: italic 12pt "Helvetica Nue", serif;
    	font: bold italic large Palatino, serif;
   	color: rgb(50%,20%,60%);
   	letter-spacing: 3px;
   	letter-spacing: -1px;
}

#gambar {background-image: pict.jpg}

#body {background-color: e2e2e2}

#h3 {text-shadow: 3px 3px 1px yellow}

#h2 {text-transform: capitalize}

#ul {
	list-style-type: circle;
   	list-style-position: inside;
}